@import "../../../assets/styles/variables.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.artist {

  &__title {
    display: flex;
    justify-content: center;
    @include fontSize(24);
  }

  &__content {
    padding: 24px;
    display: flex;
    justify-content: center;
  }

  &__image {
    border-radius: 8px;
    
  }
}
