@import "../../../assets/styles/variables.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.list {
  display: flex;
  gap: 16px;
  overflow: auto;
  @include scrollbar(transparent, transparent, 0);
  padding: 8px;

  &__item {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid white;
  }

  @media (min-width: 678px) {
    @include scrollbar();
  }
}
